#!/usr/bin/make -f
export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with-systemd

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --enable-hdhomerun_client --disable-hdhomerun_static --disable-dvbscan --disable-libav --disable-ffmpeg_static --disable-libx264 --disable-libx264_static --disable-libx265 --disable-libx265_static --disable-libvpx --disable-libvpx_static --disable-libtheora --disable-libtheora_static --disable-libvorbis --disable-libvorbis_static --disable-libfdkaac --disable-libfdkaac_static --disable-libopus --disable-libopus_static --disable-vaapi --disable-nvenc --disable-omx --disable-tvhcsa --disable-dvben50221 --enable-libsystemd_daemon --enable-pcre2 --enable-pngquant --disable-ddci --disable-avahi --python=/usr/bin/python3

override_dh_strip:
	dh_strip --dbg-package=tvheadend-dbg

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_install:
	dh_systemd_enable || true
	dh_systemd_start || true
	dh_auto_install --destdir=debian/tvheadend

override_dh_auto_clean:
